/* colors */
:root {
    --white: #FFFFFF;
    --gray-light-bg: #F3F3F3;
    --gray-dark-bg: #8A8A8A;
    --gray-ln: #D6D6D6;
    --black: #000000;
    --gray-txt: #B4B4B4;
    --yellow: #FFF352;
    --dark-yellow: #E0CC13;
    --green-light-bg: #CFE7D7;
    --green-dark-bg: #44AF69;
    --green-txt: #167A39;
    --red-light-bg: #FECBCF;
    --red-dark-bg: #D82535;
    --red-txt: #931621;
    --link-light-bg: #CDE4FB;
    --link-dark-bg: #7AB7F4;
    --link-txt: #1874CF;
}

/* base styles */
body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
p, ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

/* typography styles */
h1, h2, h3, h4, p {
    margin: 0;
}
h1, h2 {
    font-weight: 700;
}
h3, h4, button {
    font-weight: 600;
}
h1 {
    font-size: 5.75rem;
    line-height: 6.25rem;
}
h2 {
    font-size: 4rem;
    line-height: 4.5rem;
}
h3 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}
a, .links {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
}
.subtext {
    font-size: 0.75rem;
    line-height: 1rem;
}
.button_large, .button_medium, .button_small {
    font-weight: 600;
}
.button_large {
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.button_medium {
    font-size: 1rem;
    line-height: 1.25rem;
}
.button_small {
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

/* colored text */
.gray {
    color: var(--gray-txt);
}

/* grid */
.root_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 100vh;
}
.col_nav {
    flex: 1.88;
}
.col_content {
    flex: 7;
}
.content_main {
    display: flex;
    flex-direction: row;
}
.content_main_block {
    flex: 4;
}
.content_main_aside {
    flex: 1.37;
}

/* nav styles */
.logo {
    margin-bottom: 64px;   
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #F1EFF4;
    padding: 64px 32px 64px 64px;
    position: sticky;
    top: 0;
}
nav .nav_wrapper {
    width: 100%;
}
nav .nav_wrapper .nav_section:not(:first-child) {
    margin-top: 24px;
}
.nav_section_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}
.nav_section_header p {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: black;
}
.nav_section_body {
    display: none;
}
.nav_subsections {
    padding: 24px 0 24px 24px
}
.nav_subsections li:not(:first-child) {
    margin-top: 16px;
}
.active .nav_section_body {
    display: block;
}
.active .nav_section_arrow {
    transform: rotate(180deg);
}


.col_content_wrapper {
    margin: 64px 12% 0 104px;
}
.col_content_title {
    margin: 8px 0 0 0;
}
.content_image {
    width: 100%;
    margin: 24px 0;
}
.content_wrapper_links {
    margin: 3rem 0 1rem -3rem;
}
.links {
    display: inline;
}
.links:first-child {
    margin-right: 1rem;
}

.aside_wrapper_links {
    margin: 64px 24% auto 0;
}
.aside_wrapper_links .aside_links a {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.aside_links:not(:first-child) {
    margin-top: 1rem;
}
.aside_links > a > p {
    margin-bottom: 0;
}