/* colors */
:root {
    --white: #FFFFFF;
    --gray-light-bg: #F3F3F3;
    --gray-dark-bg: #8A8A8A;
    --gray-ln: #D6D6D6;
    --black: #000000;
    --gray-txt: #B4B4B4;
    --yellow: #FFF352;
    --dark-yellow: #E0CC13;
    --green-light-bg: #CFE7D7;
    --green-dark-bg: #44AF69;
    --green-txt: #167A39;
    --red-light-bg: #FECBCF;
    --red-dark-bg: #D82535;
    --red-txt: #931621;
    --link-light-bg: #CDE4FB;
    --link-dark-bg: #7AB7F4;
    --link-txt: #1874CF;
}

/* base styles */
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    height: 100%;
    color: black;
}
p, ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.list_style_dots {
    list-style-type: disc;
    margin-left: 3rem;
}

/* typography styles */
h1, h2, h3, h4, p {
    margin: 0;
}
h1, h2 {
    font-weight: 700;
}
h3, h4 {
    font-weight: 600;
}
h1 {
    font-size: 5.75rem;
    line-height: 6.25rem;
}
h2 {
    font-size: 4rem;
    line-height: 4.5rem;
}
h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 2rem 0 1.5rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.5rem 0 1rem;
}
p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}
a, .links {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
}
.subtext {
    font-size: 0.75rem;
    line-height: 1rem;
}

/* общие текстовые стили для компонентов */
.large.bold, .medium.bold, .small.bold {
    font-weight: 600;
}
.large {
    font-size: 1.125rem;
    line-height: 1.375rem;
    padding: 1rem 2rem;
}
.medium {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.75rem 1.25rem;

}
.small {
    font-size: 0.75rem;
    line-height: 1.0625rem;
    padding: 0.5rem 0.75rem;
}


a.link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
a.link:hover {
    text-decoration-thickness: 2px;
}
.link.disabled {
    cursor: default;
    color: var(--gray-txt);
}
.link.icon {
    text-decoration: none;
}
.link.icon:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.link.icon::before {
    display: inline-block;
    margin-right: 0.5rem;
}
.link.large.icon::before {
    content: url("./img/link-icon-large.svg");
}
.link.medium.icon::before {
    content: url("./img/link-icon-medium.svg");
}
.link.small.icon::before {
    content: url("./img/link-icon-small.svg");
}
.link.disabled.large.icon::before {
    content: url("./img/link-icon-large-disabled.svg");
}
.link.disabled.medium.icon::before {
    content: url("./img/link-icon-medium-disabled.svg");
}
.link.disabled.small.icon::before {
    content: url("./img/link-icon-small-disabled.svg");
}


/* buttons */
button {
    cursor: pointer;
}
button, input, .select {
    border-radius: 4px;
}
button.default {
    background-color: var(--yellow);
    border: none;
}
button.default:hover {
    background-color: var(--dark-yellow);
}
button.outline {
    background-color: var(--white);
    border: 1px solid var(--black);
}
button.outline:hover {
    background-color: var(--gray-light-bg);
}
button.icon::before {
    display: inline-block;
    margin-right: 0.5rem;
}
button.large.icon::before {
    content: url("./img/btn-icon-large.svg");
}
button.medium.icon::before {
    content: url("./img/btn-icon-medium.svg");
}
button.small.icon::before {
    content: url("./img/btn-icon-small.svg");
}

/* input */
label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}
input::placeholder {
    color: var(--gray-txt);
}
input:hover {
    background-color: var(--gray-light-bg);
}
input:disabled {
    color: var(--gray-txt);
    border-color: var(--gray-ln);
    background-color: var(--white);
}
input.large, input.medium {
    margin: 1rem 0;
}
input.small {
    margin: 0.5rem 0;
}
input.error {
    border-color: var(--red-dark-bg);
}
label.error p.error {
    display: block;
}
p.error {
    display: none;
    color: var(--red-dark-bg);
}

/* switcher */
.switcher_wrapper {
    display: flex;
    flex-direction: row;
    width: max-content;
}
.switcher_wrapper:last-child {
    border-radius: 0 0 4px 4px;
}
.switcher_wrapper.vertical {
    flex-direction: column;
}
.switcher_wrapper button {
    border-radius: 0;
    background-color: var(--white);
    border: 1px solid var(--black);
}
.switcher_wrapper button.active {
    background-color: var(--black);
    color: var(--white);
}
.switcher_wrapper button:first-child {
    border-radius: 4px 0 0 4px;
}
.switcher_wrapper button:last-child {
    border-radius: 0 4px 4px 0;
}
.switcher_wrapper.vertical button:first-child {
    border-radius: 4px 4px 0 0;
}
.switcher_wrapper.vertical button:last-child {
    border-radius: 0 0 4px 4px;
}

/* dropdown */
/* The container must be positioned relative: */
.select {
    position: relative;
    border: 1px solid var(--black);
}
.select:hover {
    background-color: var(--gray-light-bg);
}
.select select {
    display: none; /*hide original SELECT element: */
}
.select-selected {
    cursor: pointer;
    background-color: var(--white);
    border-radius: 4px;
}
  /* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    right: 1rem;
    transition-duration: 0.5s;
}
.select-selected.large:after {
    content: url("./img/arrow-icon-large.svg");
}
.select-selected.medium:after {
    content: url("./img/arrow-icon-medium.svg");
}
.select-selected.small:after {
    content: url("./img/arrow-icon-small.svg");
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    transform: rotate(-180deg);
    transition-duration: 0.5s;
}
/* style the items (options), including the selected item: */
.select-items div {
    cursor: pointer;
    border-radius: 4px;
    color: var(--black);
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
}
.select-items div:not(:first-child) {
    margin-top: 0.5rem;
}
.same-as-selected {
    background-color: var(--black);
    color: var(--white) !important;
    border-radius: 4px;
}
.same-as-selected:hover {
    color: var(--black) !important;
}
/* Style items (options): */
.select-items {
    border: 1px solid var(--black);
    border-radius: 4px;
    position: absolute;
    background-color: var(--white);
    top: 110%;
    left: 0;
    right: 0;
    max-height: 13rem;
    overflow: scroll;
}
.select-items.large, .select-items.medium {
    padding: 1rem;
}
.select-items.small {
    padding: 0.5rem;
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
.select-items div:hover {
    background-color: var(--gray-light-bg);
}
/* disabled */
.select.disabled {
    border: 1px solid var(--gray-ln);
    color: var(--gray-txt);
}
.select.disabled .select-selected {
    cursor: default;
}
.select.disabled .select-selected:after {
    display: none;
}
.select.disabled .select-items {
    display: none;
}
.select.error {
    border: 1px solid var(--red-dark-bg);
}

/* radio */
input[type="radio"] {
    appearance: none;
    background-color: var(--white);
    margin: 0;
    min-width: 1.25rem;
    min-height: 1.25rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"]:disabled {
    border: 1px solid var(--gray-ln);
    cursor: not-allowed;
}

input[type="radio"].error {
    border: 1px solid var(--red-dark-bg);
}

input[type="radio"]::before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--black);
}

input[type="radio"]:disabled::before {
    background-color: var(--gray-ln);
}
input[type="radio"].error::before {
    background-color: var(--red-dark-bg);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

label.radio.disabled, label.checkbox.disabled {
    color: var(--gray-txt);
}

label.radio, label.checkbox {
    flex-direction: row; 
    gap: 0.5rem
}
.radio_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* checkbox */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    margin: 0;
  
    min-width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--black);
    border-radius: 4px;
    transform: translateY(-0.075em);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
  
input[type="checkbox"]::before {
    content: url("./img/checkbox.svg");
    width: 0.85rem;
    height: 0.85rem;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: var(--black);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
  
input[type="checkbox"]:disabled {
    border: 1px solid var(--gray-ln);
    cursor: not-allowed;
}  
input[type="checkbox"]:checked:disabled {
    background-color: var(--gray-ln);
}

input[type="checkbox"].error {
    border: 1px solid var(--red-dark-bg);
}  
input[type="checkbox"].error:checked {
    background-color: var(--red-dark-bg);
}
  
/* colored text */
.gray {
    color: var(--gray-txt);
}

/* grid */
.root_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 100vh;
    background-color: var(--gray-light-bg);
}
.col_nav {
    flex: 1.88;
}
.col_content {
    flex: 7;
    background-color: var(--white);
}
.content_main {
    display: flex;
    flex-direction: row;
}
.content_main_block {
    flex: 4;
}
.content_main_aside {
    flex: 1.37;
    height: fit-content;
    position: sticky;
    top: 0;
}

/* nav styles */
.logo {
    max-width: 70%;
    margin-bottom: 64px;   
}
nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--gray-light-bg);
    padding: 64px 32px 64px 64px;
    position: sticky;
    top: 0;
}
nav .nav_wrapper {
    width: 100%;
}
nav .nav_wrapper .nav_section:not(:first-child) {
    margin-top: 24px;
}
.nav_section_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}
.nav_section_header p {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: black;
}
.nav_section_body {
    display: none;
}
.nav_subsections {
    padding: 16px 0 24px 24px
}
.nav_subsections li:not(:first-child) {
    margin-top: 16px;
}
.active .nav_section_body {
    display: block;
}
.active .nav_section_arrow {
    transform: rotate(180deg);
}


.col_content_wrapper {
    margin: 4rem 12% 4rem 6.5rem;
}
.col_content_title {
    margin: 8px 0 0 0;
}
.content_image {
    width: 100%;
    margin: 0 0 16px;
}
.content_wrapper_links {
    margin: 3rem 0 1rem -2.5rem;
}
.col_content_footer {
    margin: 4rem 12% 2rem 6.5rem;
}
.col_content_footer p {
    margin-bottom: 0.5rem;
}


.links {
    display: inline;
}
.links:first-child {
    margin-right: 1rem;
}

.aside_wrapper_links {
    margin: 64px 24% auto 0;
}
.aside_wrapper_links .aside_links a {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.aside_links:not(:first-child) {
    margin-top: 1rem;
}
.aside_links > a > p {
    margin-bottom: 0;
}

.avatar_image {
    max-height: 260px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.col_content_persons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team_person {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.team_person > ul > li {
    margin-left: 1rem;
}
.team_person > ul {
    padding-top: 8px;
}

.toggle {
    display: inline-block;
    width: 2rem; 
    height: 1.25rem;
    border-radius: 10px; 
    background-color: var(--white);
    border: 1px solid var(--black);
    cursor: pointer;
    position: relative;
}
.toggle::after {
    content: "";
    height: 1rem; 
    width: 1rem;
    border-radius: 17px;
    background-color: var(--black); 
    top: 2px; 
    left: 2px; 
    position: absolute;
    z-index: 1;
 }
.toggle.active {
    background-color: var(--black);
}
.toggle.active::after {
    left: 14px;
    background-color: var(--white); 
}

.demo_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    align-items: stretch;
}
.demo_element {
    padding: 4rem 2.5rem;
    background-color: var(--gray-light-bg);
    flex: 5.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.demo_element.flex-start {
    align-items: flex-start;
}
.demo_setting {
    flex: 5;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}
.label_toggle {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.label_toggle > p {
    display: inline;
}